{% extends 'base_card.html' %}

{% block title %}
<title>Ваш заказ</title>
{% endblock title %}
{% block body %}



 <div class="row mt-5 text-center" >
   <div class="col-3 mt-3"></div>
  <div class=" col-6 mt-3">
   <fieldset disabled>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">Доставим в город:</label>
        <input type="text" id="disabledTextInput" class="form-control" placeholder="{{data[1]}}">
      </div>          
    </fieldset>
   <form method="post">
      <label for="exampleDataList" class="form-label">Выберите отделение новой почты:</label>
         <input class="form-control" list="datalistOptions" id="exampleDataList" value="" name="point">
         <datalist id="datalistOptions">
            {% for el in data[0]['data'] %} 
              <option value="{{el['DescriptionRu']}}">
            {% endfor %}      
         </datalist>       
      <button class="btn btn-success mt-3" type="submit">Далее</button> 
   </form> 
   <div class="mt-3">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>  
  </div>
  <div class="col-3 mt-3"></div>
 </div>
 {% endblock body %}