{% extends 'base_about.html' %}

{% block title %}
<title>Контакты</title>
{% endblock title %}

{% block body %}


<h1 class="mt-5">Про магазин:</h1>
<p>Написание текстов для главных страниц сайта – дело непростое. Проблема в том, что существует сразу несколько подходов к подготовке таких материалов.

  Каждый подход, как это и водится, имеет свои плюсы и минусы. Где-то можно выиграть в оптимизации, но потерять в живых читателях. Где-то можно приобрести живых читателей, но придется жертвовать SEO-показателями и, возможно, по этой причине отставать от конкурентов.
  
  Постоянные сомнения, касающиеся оптимальных путей создания текстов для главной, стали вполне привычными спутниками авторов.
  
  Кто-то постоянно работает под одной и той же схеме, кто-то мечется между SEO и продающими текстами, а кто-то и вовсе не имеет четкого видения. Чтобы хоть как-то определиться с тем, как писать тексты для главных страниц, мы составили эту небольшую заметку. На полноценный научный труд претендовать не собираемся, но кое-какие собственные наблюдения озвучим.
</p>
<div  class="container marketing">
   <div class="row featurette">

     <div  class="col-md-6 mt-5">
       <h2 id="main" class="featurette-heading">Наш адрес:</h2>
       <p class="lead"><strong>ООО "Kss shop"</strong></p>
       <p class="lead">49000, г. Днепр, ул. Героев Днепра, 124-С, офис 2018<br>
         <span style=" color: brown;">e-mail: kss-shop@gmail.com</span> <br>
         +38(050)333-55-78<br>   
         +38(066)999-22-33   
          </p>
       <img  src="static/img/logo.png" alt="" style="width: 60%;">
     </div>
     <div  class="col-md-2 mt-5">      
       <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2645.8624034434965!2d35.04078101521958!3d48.459169536687185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe3c30021e861%3A0x4a525b3aa303b7da!2z0YPQuy4g0KHQstGP0YLQvtGB0LvQsNCy0LAg0KXRgNCw0LHRgNC-0LPQviwgMTIsINCU0L3RltC_0YDQvsyBLCDQlNC90LXQv9GA0L7Qv9C10YLRgNC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNDkwMDA!5e0!3m2!1sru!2sua!4v1641809667591!5m2!1sru!2sua" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
     </div>
   </div>
 </div>
{% endblock body %}

