<!DOCTYPE html>
<html lang="ru">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <link rel="icon" href="static/img/title.png" type="image/x-icon">
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" 
   integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" 
   crossorigin="anonymous">
   {% block title %}{% endblock %}
</head>  
<body>
           
      <div class="container py-3">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
          <div class="container-fluid">
            <a class="navbar-brand m-1" href="/"><span style="font-style: italic;">KSS shop</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="collapse navbar-collapse" id="navbarsExample03">
              <ul class="navbar-nav me-auto mb-2 mb-sm-0 ms-5">
                <li class="nav-item">
                  <a class="nav-link" href="/">Главная</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">Контакты</a>
                </li>         
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Товары</a>
                  <ul class="dropdown-menu" aria-labelledby="dropdown03">
                    <li><a class="dropdown-item" href="/disks">Диски</a></li>
                    <li><a class="dropdown-item" href="/tyres">Легковые шины</a></li>
                    <li><a class="dropdown-item" href="/others">Авто товары</a></li>
                  </ul>
                </li>
              </ul>            
                <a href="/admin/login" class="btn btn-outline-light m-1">
                  {% if current_user.is_authenticated and current_user.has_role('admin') %}
                    Админ
                  {% elif current_user.is_authenticated and current_user.has_role('user')%}
                    Гость
                  {% else %}
                    Войти        
                  {% endif %}
                </a>
                {% if 'card' not in data[2] %}
      
                <button type="button" class="btn btn-outline-secondary m-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Корзина
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body align-content-center">
                        <h5>Ваша корзина пуста!</h5><br>
                        <h6>Самое время это исправить!</h6>           
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-bs-dismiss="modal">Закрыть</button>
                      </div>
                    </div>
                  </div>
                </div>
                {% else %}
                <a href="/card" class="btn btn-outline-warning m-1">Корзина</a>
                {% endif %}      
                <div class="dropdown">
                  <a class="btn btn btn-warning m-1 mx-5" href="/" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Язык
                  </a>        
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="/">Українська мова</a></li>
                    <li><a class="dropdown-item" href="/">English</a></li>
                  </ul>  
                </div>        
            </div>
          </div>
        </nav>
             
        <main>
         {% block body %}{% endblock %}


  
        </main>
               
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
          
          <div class="row" align="center">
            <div class="col-md-4">
        
            </div>
            <div class="col-md-4">
         <a id="inst" href="https://www.instagram.com/grand.procom/"><i class="fab fa-instagram"></i></a>
         <a id="facebook" href="https://www.facebook.com/GRAND-Project-Company-100163209212076"><i  class="fab fa-facebook-f"></i></a>
         <a id="youtube" href="https://www.youtube.com/channel/UCk-CNY_O9STLuvmWvKbYpWA"><i class="fab fa-youtube"></i></a> 
         <p class="mt-2"><span><strong>ООО "KSS shop"</strong> &copy;</span><br> 
          <span>+38(050)3335578; +38(066)9992233</span><br>         
          <span>kss-shop@gmail.com</span>     
          </p> 
      </div>
      <div class="col-md-4">
        <div class="up-btn">
          <i class="fas fa-arrow-up"></i>
        </div>
      </div>
               
    </div>
        </footer>
      </div>
      
     <!-- <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>      -->
      
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
     <script src="https://kit.fontawesome.com/ed7cc20501.js" crossorigin="anonymous"></script>
     <script>
      $(".up-btn").on("click", function(){
      $("html, body").animate({
        scrollTop: 0
        }, 'slow');
      });
      </script>
    </body>

</html>